
@{
    ViewData["Title"] = "Ara";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Ev>

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">İnanılmaz Fırsatları Kaçırma</h1>
                    <span class="color-text-a">Fırsatlara Göz at !</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Anasayfa</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Fırsatlar
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->
<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid-option">
                    <form>
                        <select class="custom-select">
                            <option selected>Hepsi</option>
                            <option value="1">Satılık</option>
                            <option value="2">Kiralık</option>
                        </select>
                    </form>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="~/img/ilan/@item.resim" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            @item.IlanBaslik
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <span class="price-a">@item.IlanTip | @item.Fiyat ₺</span>
                                    </div>
                                    <a href="~/@item.user.UserName/ilan/@item.IlanID" class="link-a">
                                        Görüntülemek için tıklayın.
                                        <span class="ion-ios-arrow-forward"></span>
                                    </a>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Alan</h4>
                                            <center>
                                                <span>
                                                    @item.YuzOlcumu m
                                                    <sup>2</sup>
                                                </span>
                                            </center>

                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Yatak Odası</h4>
                                            <center><span>@item.YatakOdasi</span></center>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Banyo</h4>
                                            <center> <span>@item.Banyo</span></center>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Garaj</h4>
                                            <center><span>@item.Garaj</span></center>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>