@model Ev
@{
    ViewData["Title"] = "IlanDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">@Model.IlanBaslik</h1>
                        <span class="color-text-a">@Model.Adress</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="~/Home/Index">Anasayfa</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="~/Home/Index">Ev Özellikleri</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                @Model.IlanBaslik
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- End Intro Single-->
    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
                        <div class="carousel-item-b">
                            <img src="~/img/ilan/@Model.resim" alt="">
                        </div>
                        <div class="carousel-item-b">
                            <img src="~/img/ilan/@Model.resim" alt="">
                        </div>
                        <div class="carousel-item-b">
                            <img src="~/img/ilan/@Model.resim" alt="">
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-5 col-lg-4">
                            <div class="property-price d-flex justify-content-center foo">
                                <div class="card-header-c d-flex">
                                    <div class="card-box-ico">
                                        <span class="ion-money">@Model.Fiyat ₺</span>
                                    </div>
                                    <div class="card-title-c align-self-center">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="property-summary">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="title-box-d section-t4">
                                            <h3 class="title-d">Özellik Sıralaması</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-list">
                                    <ul class="list">
                                        <li class="d-flex justify-content-between">
                                            <strong>Ilan ID:</strong>
                                            <span>@Model.IlanID</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Durumu:</strong>
                                            <span>@Model.IlanTip</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Area:</strong>
                                            <span>
                                                @Model.YuzOlcumu m
                                                <sup>2</sup>
                                            </span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Yatak Odası:</strong>
                                            <span>@Model.YatakOdasi</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Banyo:</strong>
                                            <span>@Model.Banyo</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Garaj:</strong>
                                            <span>@Model.Garaj</span>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <strong>Adress:</strong>
                                            <span>@Model.Adress</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 col-lg-7 section-md-t3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="title-box-d">
                                        <h3 class="title-d">Açıklama</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="property-description">
                                @Model.IlanAciklama
                            </div>
                           
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section><!-- End Property Single-->

</main><!-- End #main -->
